
body {
  background-color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

header { 
    position: fixed;
}

a {
     color: white;
     font-weight: bolder; 
} 

.logo {
    overflow: clip;
    width: 150px;
    margin-left: 45%;
    display: block;
    background-color: white;
}

.carros {
  padding: 1px;
  width: 100%;
  padding-top: 20px;
  margin: auto;
  display: block;
  background-color: white;
}

th {
  background-color: #e10600;
  border-left: 1px solid white;
  text-align: center;
  font-size: xx-large;
  padding: 1px;
  height: 75px;
}

td {
  border-left: 1px solid white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  padding: 1px;
  width: 10%;
}

.sumario {
    border-left: 0px;
  }

.historia {
  width: 95%;
  margin: auto;
  padding: auto;
}

tr:nth-child(even) {
  background-color: white;
}
